/** button */

.btn_gradient {
  display: inline-block;
  font-size: 0.9em;
  padding: 0.5em 1em;
  margin: 4px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(-45deg, #6797ff 50%, #6f9bfc 100%);
  transition: 0.3s;
  transition-timing-function: ease-in;
  border: unset;
  cursor: pointer;
}

.btn_gradient:hover {
  background-image: linear-gradient(
    45deg,
    #6797ff 0%,
    #80a8ff 50%,
    #6f9bfc 100%
  );
}

.btn_gradient:disabled {
  background: white;
  color: #888888;
  box-shadow: 0 0 0 1.5px #adadad;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.btn_gradient:active {
  -webkit-transform: translateY(0.1em);
  transform: translateY(0.1em);
  /* border-bottom: none; */
  transition: 0s;
  transition-timing-function: ease;
}

.btn_gradient:disabled:active {
  transform: none;
}

.btn_notice {
  display: inline-block;
  font-size: 0.9em;
  padding: 0.5em 1em;
  margin: 4px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: var(--notice-color);
  transition: 0.3s;
  transition-timing-function: ease-in;
  border: unset;
  cursor: pointer;
}

.btn_notice:hover {
  background-color: var(--notice-color-dark);
}

.btn_notice:disabled {
  background: white;
  color: #888888;
  box-shadow: 0 0 0 1.5px #adadad;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.btn_notice:active {
  -webkit-transform: translateY(0.1em);
  transform: translateY(0.1em);
  /* border-bottom: none; */
  transition: 0s;
  transition-timing-function: ease;
}

.btn_notice:disabled:active {
  transform: none;
}

/** loading animation */

.button_loader {
  position: relative;
  padding: 0 0.8em;
}

.loader {
  position: relative;
  width: 1.1em;
  height: 1.1em;
}

.loader div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.8;
}

.loading_one {
  border-top: 1.5px solid #41a5c4;
  animation: rotate-left 1s linear infinite;
}

.loading_two {
  border-right: 1.5px solid #a8d369;
  animation: rotate-right 1s linear infinite;
}

.loading_three {
  border-bottom: 1.5px solid #ffe365;
  animation: rotate-right 1s linear infinite;
}

.loading_four {
  border-left: 1.5px solid #ff8ef0;
  animation: rotate-right 1s linear infinite;
}

@keyframes rotate-left {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** text area  */
/** ref: https://qiita.com/tsmd/items/fce7bf1f65f03239eef0 */

.textarea {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.textarea label {
  font-size: 0.9rem;
  padding-left: 0.4rem;
  color: var(--text-color-basic);
}

.FlexTextarea {
  position: relative;
  font-size: 0.9rem;
  line-height: 1.3;
  color: var(--text-color-basic);
}

.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  min-height: 60px;
  min-width: 100px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
}

.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

.FlexTextarea__textarea:focus {
  border: 2px solid var(--sub-color-dark);
  outline: 0;
}
